* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hidden {
  display: none;
}
canvas {
  position: relative;
  top: 100px;
  margin-top: auto;
  border: 1px solid gray;
  background: url("../images/image_sal4vg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.drawing-tool{
  position: fixed;
  top: 2%;
  margin-left: 7em;
  padding: 1em;
  background: rgb(183, 183, 183);
  border: 1px solid;
  border-radius: 5px;
}
#dtool{
  background: white;
  border: 1px solid;
  border-radius: 5px;
  font-size: 10px;
  padding: 1px;
  outline:none;
}
#dtool:hover{
  cursor: pointer
}
.lines-control {
  position: fixed;
  top: 25px;
  width: 15%;
  left: 5%;
  justify-content: space-between;
  display: flex;
  border: 1px dotted black;
  border-radius: 100px;
  padding: 0.8em 2em;
  background: transparent;
}
#undo {
  background: rgb(105, 38, 167);
  color: white;
  cursor: pointer;
  touch-action: none;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 0.2em 0.8em;
  line-height: 20px;
  outline: none;
}
#redo {
  outline: none;
  background: rgb(32, 152, 24);
  color: white;
  cursor: pointer;
  touch-action: none;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 0.2em 0.8em;
  line-height: 20px;
}
#controls {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5em 2em;
  border: 1px solid gray;
  background: white;
}

.lightBorder {
  border: 2px solid white;
}
label {
  font-size: 0.6em;
}
p {
  margin: 1.3px 10px;
  display: flex;
}
#defaultScale {
  font-size: 1em;
  line-height: 1px;
  outline: none;
}
#centimeters {
  font-size: 1.5em;
  line-height: 1px;
}
#meters {
  font-size: 1.5em;
  line-height: 1px;
}
#clearCanvas {
  cursor: pointer;
  padding: 0.4em 0.5em;
  font-size: 0.6em;
  color: white;
  background: red;
  outline: none;
  margin-left: auto;
}
#calcBtn {
  padding: 0.4em 0.5em;
  font-size: 0.6em;
  background: blue;
  color: white;
  outline: none;
  cursor: pointer;
}
